Repository dstairlines24/DST_AIRLINES: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-app, build-app_admin, build-app_dash, build-app_form

Path conditions:
  build-app: any of: Dockerfile.app, app/*
  build-app_admin: any of: Dockerfile.app_admin, app_admin/*
  build-app_dash: any of: Dockerfile.app_dash, app_dash/*
  build-app_form: any of: Dockerfile.app_form, app_form/*

maj tests app
  app/app.py
Due: build-app

maj tests app
  app/app.py
  app/tests/test_app.py
Due: build-app

maj tests app
  app/tests/test_app.py
Due: none

Renommage fichiers app
  app/app.py
  app/tests/test_app.py
  app_admin/app.py
  app_admin/start.sh
  app_dash/app.py
Due: build-app, build-app_admin, build-app_dash

maj tests app
  .gitlab-ci.yml
Due: none

maj nom dockerfile dans gitlab-ci
  .gitlab-ci.yml
Due: none

modif import model
  app/app.py
  app_admin/scripts/ml_compare.py
  app_admin/scripts/ml_gridsearchcv2.py
  functions/__init__.py
  init_db2.py
  model/__init__.py
Due: build-app

gitlab tests
  .gitlab-ci.yml
Due: none

debogage path model
  app_admin/scripts/ml_gridsearchcv2.py
Due: none

debogage path model
  app/app.py
  app_admin/scripts/ml_compare.py
  app_admin/scripts/ml_gridsearchcv2.py
  app_admin/scripts/test_pred.py
  model/best_model.pkl
Due: build-app

gitlab do strategy
  .gitlab-ci.yml
Due: none

debogage Erreur lors de la prediction: No module named 'sklearn'
  .gitlab-ci.yml
  app/requirements.txt
Due: build-app

gitlab test new runner
  .gitlab-ci.yml
Due: none
