Repository dstairlines24/DST_AIRLINES: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-app, test-app_admin, test-app_form, test-app_dash, build-app, build-app_admin, build-app_dash, build-app_form

test-app:
  before_script:
  - whoami
  - id
  variables:
    GIT_STRATEGY: fetch
  ...

test-app_admin:
  before_script:
  - whoami
  - id
  variables:
    GIT_STRATEGY: fetch
  ...

test-app_form:
  before_script:
  - whoami
  - id
  variables:
    GIT_STRATEGY: fetch
  ...

test-app_dash:
  before_script:
  - whoami
  - id
  variables:
    GIT_STRATEGY: fetch
  ...

build-app:
  services:
  - docker:dind
  before_script:
  - echo "======== before_script start ========"
  - if [ -z "$DOCKER_USERNAME" ] || [ -z "$DOCKER_PASSWORD" ]; then echo "Docker credentials not set"; exit 1; fi
  - echo "Logging in to Docker..."
  ...

build-app_admin:
  services:
  - docker:dind
  before_script:
  - echo "======== before_script start ========"
  - if [ -z "$DOCKER_USERNAME" ] || [ -z "$DOCKER_PASSWORD" ]; then echo "Docker credentials not set"; exit 1; fi
  - echo "Logging in to Docker..."
  ...

build-app_dash:
  services:
  - docker:dind
  before_script:
  - echo "======== before_script start ========"
  - if [ -z "$DOCKER_USERNAME" ] || [ -z "$DOCKER_PASSWORD" ]; then echo "Docker credentials not set"; exit 1; fi
  - echo "Logging in to Docker..."
  ...

build-app_form:
  services:
  - docker:dind
  before_script:
  - echo "======== before_script start ========"
  - if [ -z "$DOCKER_USERNAME" ] || [ -z "$DOCKER_PASSWORD" ]; then echo "Docker credentials not set"; exit 1; fi
  - echo "Logging in to Docker..."
  ...

debbog
  .gitlab-ci.yml
Due: test-app, test-app_admin, test-app_form, test-app_dash, build-app, build-app_admin, build-app_dash, build-app_form

ras
  .gitlab-ci.yml
Due: test-app, test-app_admin, test-app_form, test-app_dash, build-app, build-app_admin, build-app_dash, build-app_form

ajout datasources
  docker-compose.yml
  grafana/provisioning/datasources/datasources.yml
Due: none

modif check docker network
  .gitlab-ci.yml
Due: test-app, test-app_admin, test-app_form, test-app_dash, build-app, build-app_admin, build-app_dash, build-app_form

config dashboards grafana
  docker-compose.yml
  grafana/provisioning/dashboards/Datascientest_System_Monitor.json
  grafana/provisioning/dashboards/Docker_Prometheus_Monitoring.json
  grafana/provisioning/dashboards/System_Monitoring.json
  grafana/provisioning/dashboards/dashboard.yml
Due: none

debbog
  docker-compose.yml
Due: none

test prometheus
  grafana/provisioning/datasources/datasources.yml
Due: none

test grafana
  grafana/provisioning/datasources/datasources.yml
Due: none

gitlab test
  grafana/provisioning/datasources/datasources.yml
Due: none

test grafana
  docker-compose.yml
  prometheus/prometheus.yml
Due: none

test grafana
  docker-compose.yml
Due: none

test gitlab
  docker-compose.yml
Due: none

test percona mongodb exporter
  docker-compose.yml
Due: none

test grafana
  prometheus/prometheus.yml
Due: none

gitlab test
  prometheus/prometheus.yml
Due: none

test gitlab
  docker-compose.yml
  prometheus/prometheus.yml
Due: none

test grafana
  grafana/provisioning/dashboards/Mongo_Monitoring.json
Due: none

ras
  Diagramm/Architecture_Diagramm_v3-dash_simplifie.drawio
  grafana/provisioning/dashboards/Mongo_Monitoring.json
Due: none

maj diagram
  Diagramm/Architecture_Diagramm_v3-dash.drawio
  Diagramm/Architecture_Diagramm_v3-dash_simplifie.drawio
  Diagramm/Prometheus_Grafana_Diagramm_v3.drawio
Due: none

test CRONJOB
  app_admin/Dockerfile
  app_admin/cronpipe.sh
  app_admin/start.sh
Due: test-app_admin, build-app_admin

test modif .cache/
  .gitlab-ci.yml
Due: test-app, test-app_admin, test-app_form, test-app_dash, build-app, build-app_admin, build-app_dash, build-app_form

debbog cron
  app_admin/start.sh
Due: test-app_admin, build-app_admin

test Prometheus client
  app_admin/start.sh
  app_form/app.py
  app_form/requirements.txt
Due: test-app_admin, test-app_form, build-app_admin, build-app_form

debbog metrics
  app_form/app.py
  prometheus/prometheus.yml
Due: test-app_form, build-app_form

debbog metrics
  app_form/app.py
Due: test-app_form, build-app_form

debbug prometheus
  prometheus/prometheus.yml
Due: none

Path conditions:
  test-app: any of: .gitlab-ci.yml, app/*, data_test/*, model/*
  test-app_admin: any of: .gitlab-ci.yml, app_admin/*, data_test/*, model/*, functions/*
  test-app_form: any of: .gitlab-ci.yml, app_form/*, data_test/*, functions/*
  test-app_dash: any of: .gitlab-ci.yml, app_dash/*, data_test/*, model/*, functions/*
  build-app: any of: .gitlab-ci.yml, app/*
  build-app_admin: any of: .gitlab-ci.yml, app_admin/*
  build-app_dash: any of: .gitlab-ci.yml, app_dash/*
  build-app_form: any of: .gitlab-ci.yml, app_form/*
