Repository dstairlines24/DST_AIRLINES: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-app, build-app_admin, build-app_dash, build-app_form

Path conditions:
  build-app: any of: Dockerfile.app, app/*
  build-app_admin: any of: Dockerfile.app_admin, app_admin/*
  build-app_dash: any of: Dockerfile.app_dash, app_dash/*
  build-app_form: any of: Dockerfile.app_form, app_form/*

test exclusion gitlab
  .gitlab-ci.yml
Due: none

test exclusions gitlab
  .gitlab-ci.yml
Due: none

ajou test unitaires test_app
  .gitlab-ci.yml
  Dockerfile.app
  Dockerfile.app_admin
  Dockerfile.app_dash
  Dockerfile.app_form
  app/tests/test_app.py
Due: build-app, build-app_admin, build-app_dash, build-app_form

debug app_test
  app/tests/test_app.py
Due: none

ajout pyopenssl
  .gitlab-ci.yml
Due: none

test contruction image dockerfile
  .gitlab-ci.yml
  app/.dockerignore
  app/Dockerfile
Due: build-app

construction dockerfile et test_app
  .dockerignore
  .gitlab-ci.yml
  app/Dockerfile
  app_admin/.dockerignore
  app_admin/Dockerfile
  app_admin/init_db.py
  app_dash/.dockerignore
  app_dash/Dockerfile
  app_form/.dockerignore
  app_form/Dockerfile
  app_form/app.py
  init_db.py
Due: build-app, build-app_admin, build-app_dash, build-app_form

ajout wait_for_mongo
  init_db.py
Due: none

ajout variable environnement job test
  .gitlab-ci.yml
  init_db.py
Due: none

debug connexion service mongodb gitlab
  .gitlab-ci.yml
Due: none

debug connexion service mongodb gitlab
  .gitlab-ci.yml
  docker-compose.yml
Due: none
