Repository dstairlines24/DST_AIRLINES: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-app, build-app_admin, build-app_dash, build-app_form

Path conditions:
  build-app: any of: Dockerfile.app, app/*
  build-app_admin: any of: Dockerfile.app_admin, app_admin/*
  build-app_dash: any of: Dockerfile.app_dash, app_dash/*
  build-app_form: any of: Dockerfile.app_form, app_form/*

debug connexion service mongodb gitlab
  .gitlab-ci.yml
Due: none

ajout numpy dans requirements
  app/requirements.txt
  app_form/requirements.txt
Due: build-app, build-app_form

maj tests app
  app/tests/test_app.py
Due: none

maj tests app
  .gitlab-ci.yml
  app/app.py
Due: build-app

maj tests app
  app/app.py
Due: build-app
